{% extends 'base.twig' %}
{% block content %}
    <h2 class="ui inverted header">
        <i class="sitemap icon"></i>
        <div class="content">
            Ergebnisse Runde {{ round_id }}
        </div>
    </h2>
    <div class="five ui buttons">
        <button class="ui inverted {{ round_id == 1 ? 'active' : '' }} button">Runde 1</button>
        <button class="ui inverted {{ round_id == 2 ? 'active' : '' }} button">Runde 2</button>
        <button class="ui inverted {{ round_id == 3 ? 'active' : '' }} button">Runde 3</button>
        <button class="ui inverted {{ round_id == 4 ? 'active' : '' }} button">Runde 5</button>
        <button class="ui inverted {{ round_id == 5 ? 'active' : '' }} button">Runde 6</button>
    </div>
    <br><br>
    <div class="ui two column grid" id="tableScoreGrid">
        {% for score in scores %}
            <div class="column">
                <div class="ui inverted {{ score.isFinished() ? '' : 'center aligned' }} segment">
                    <h3 class="ui inverted header">
                        <i class="table icon"></i>
                        <div class="content">
                            Tisch #{{ score.getTableFormatted() }}
                        </div>
                    </h3>
                    {% if score.isFinished() %}
                        <table class="ui very basic inverted celled table">
                            <thead>
                            <tr>
                                <th>Team</th>
                                <th>Erster Spieler</th>
                                <th>Zweiter Spieler</th>
                                <th>Spiel 1</th>
                                <th>Spiel 2</th>
                                <th>Spiel 3</th>
                                <th>Ergebnis</th>
                                <th>Punkte</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ score.teamA().id() }}<</td>
                                    <td>
                                        <i class="user icon"></i>
                                        {{ score.teamA().firstPlayer() }}
                                    </td>
                                    <td>
                                        <i class="user icon"></i>
                                        {{ score.teamA().secondPlayer() }}
                                    </td>
                                    <td class="center aligned"><div class="ui horizontal {{ score.getSet(1).isTeamAWinner() ? 'green' : 'red' }} label">{{ score.getSet(1).getScoreTeamA() }}</div></td>
                                    <td class="center aligned"><div class="ui horizontal {{ score.getSet(2).isTeamAWinner() ? 'green' : 'red' }} label">{{ score.getSet(2).getScoreTeamA() }}</div></td>
                                    <td class="center aligned"><div class="ui horizontal {{ score.getSet(3).isTeamAWinner() ? 'green' : 'red' }} label">{{ score.getSet(3).getScoreTeamA() }}</div></td>
                                    <td class="center aligned"><div class="ui circular {{ score.isTeamAWinner() ? 'green' : 'red' }} inverted large label">{{ score.getPositiveSetCountOfTeamA() }}</div></td>
                                    <td class="center aligned"><div class="ui horizontal label">{{ score.getPointsDeltaOfTeamA() }}</div></td>
                                </tr>
                                <tr>
                                    <td>{{ score.teamB().id() }}<</td>
                                    <td>
                                        <i class="user icon"></i>
                                        {{ score.teamB().firstPlayer() }}
                                    </td>
                                    <td>
                                        <i class="user icon"></i>
                                        {{ score.teamB().secondPlayer() }}
                                    </td>
                                    <td class="center aligned"><div class="ui horizontal {{ score.getSet(1).isTeamBWinner() ? 'green' : 'red' }} label">{{ score.getSet(1).getScoreTeamB() }}</div></td>
                                    <td class="center aligned"><div class="ui horizontal {{ score.getSet(2).isTeamBWinner() ? 'green' : 'red' }} label">{{ score.getSet(2).getScoreTeamB() }}</div></td>
                                    <td class="center aligned"><div class="ui horizontal {{ score.getSet(3).isTeamBWinner() ? 'green' : 'red' }} label">{{ score.getSet(3).getScoreTeamB() }}</div></td>
                                    <td class="center aligned"><div class="ui circular {{ score.isTeamBWinner() ? 'green' : 'red' }} inverted large label">{{ score.getPositiveSetCountOfTeamB() }}</div></td>
                                    <td class="center aligned"><div class="ui horizontal label">{{ score.getPointsDeltaOfTeamB() }}</div></td>
                                </tr>
                            </tbody>
                        </table>
                    {% else %}
                        <div class="ui left labeled blue icon result-add button" onclick="app.ScoreOverviewController.showModal(1, 2)"><i class="add icon"></i>Ergebnis eintragen</div>
                        <h2 class="ui icon inverted centered header">
                            <div class="content">
                                Spiel läuft
                                <div class="sub header">Zu diesem Tisch liegen noch keine Ergebnisse vor</div>
                            </div>
                        </h2>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block modals %}
    <div class="ui modal" id="scoreAddModal">
        <div class="header">Ergebnis eintragen - Tisch #01</div>
        <div class="content">
            <table class="ui very basic celled table">
                <thead>
                <tr>
                    <th>Team</th>
                    <th>Erster Spieler</th>
                    <th>Zweiter Spieler</th>
                    <th>Spiel 1</th>
                    <th>Spiel 2</th>
                    <th>Spiel 3</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="collapsing team-id">
                        <div class="ui input">
                            <input type="text" placeholder="Team A" onblur="app.ScoreOverviewController.loadTeamNames(this, 'a')">
                        </div>
                    </td>
                    <td class="team-a first-player">
                        <i class="user icon"></i>
                        ???
                    </td>
                    <td class="team-a second-player">
                        <i class="user icon"></i>
                        ???
                    </td>
                    <td class="collapsing points set-a-1">
                        <div class="ui input">
                            <input type="text" placeholder="Punkte">
                        </div>
                    </td>
                    <td class="collapsing points set-a-2">
                        <div class="ui input">
                            <input type="text" placeholder="Punkte">
                        </div>
                    </td>
                    <td class="collapsing points set-a-3">
                        <div class="ui input">
                            <input type="text" placeholder="Punkte">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="collapsing team-id">
                        <div class="ui input">
                            <input type="text" placeholder="Team B" onblur="app.ScoreOverviewController.loadTeamNames(this, 'b')">
                        </div>
                    </td>
                    <td class="team-b first-player">
                        <i class="user icon"></i>
                        ???
                    <td class="team-b second-player">
                        <i class="user icon"></i>
                        ???
                    </td>
                    <td class="collapsing points set-b-1">
                        <div class="ui input">
                            <input type="text" placeholder="Punkte">
                        </div>
                    </td>
                    <td class="collapsing points set-b-2">
                        <div class="ui input">
                            <input type="text" placeholder="Punkte">
                        </div>
                    </td>
                    <td class="collapsing points set-b-3">
                        <div class="ui input">
                            <input type="text" placeholder="Punkte">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="actions">
            <div class="ui cancel button">Abbrechen</div>
            <div class="ui blue left labeled icon button create" onclick=""><i class="checkmark icon"></i>Eintragen</div>
        </div>
    </div>
{% endblock %}